

.border  {
    border-style: solid !important;
    border-color: red !important;
    border-width: 1px !important;
    

}

.m1 {
    border-style: solid !important;
    border-color: red !important;
    border-width: 1px !important;

}